<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CRUD
        link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css") 
        link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")
        style(type="text/css")
           include ../css/styles.css
    body
        .container-fluid 
            .row 
                .col-lg-11.col-11.mx-auto.border.px-3.py-3.mt-5.bg-white.rounded.shadow.mb-4
                    h1.text-center Bienvenido/a #{persona.nombre}
                    h1.text-center CRUD  personas 

                    .row    
                        .col-lg-2.col-3
                            form(action="addNuevaPersona", method="POST")
                                input(type="submit",value="Añade nueva persona").w-100.btn.btn-secondary
                        .col-lg-2.col-3
                            form(action="cerrarSesion", method="POST")
                                input(type="submit",value="Cerrar sesión").w-100.btn.btn-secondary
                    
                    table(id="tabla-personas").table.mt-2.table-responsive
                        thead
                            tr
                                th Id
                                th Correo
                                th Nombre 
                                th Teléfono 
                                th Edad
                                th Opciones
                        tbody
                            each persona,index in personas
                                form(action="adminPersonas", method="POST")
                                    tr
                                        td 
                                            input(type="text",name="id",value="#{persona.id}",readonly).form-control
                                        td
                                            input(type="text",name="correo",value="#{persona.correo }").form-control
                                        td 
                                            input(type="text",name="nombre",value="#{persona.nombre }").form-control
                                        td 
                                            input(type="text",name="tfno",value="#{persona.tfno }").form-control
                                        td 
                                            input(type="text",name="edad",value="#{persona.edad }").form-control
                                        td
                                            - if(persona.activado == 0)
                                                button(type="submit",name="accion",value="Activar").btn.btn-danger.mx-1.w-25
                                                    <i class="fas fa-times"></i>
                                            - else
                                                button(type="submit",name="accion",value="Desactivar").btn.btn-success.mx-1.w-25
                                                    <i class="fas fa-check"></i>

                                            button(type="submit",name="accion",value="Editar").btn.btn-secondary.mx-1.w-25
                                                <i class="fas fa-user-edit"></i>
                                            button(type="submit",name="accion",value="Eliminar").btn.btn-secondary.mx-1.w-25
                                                <i class="fas fa-user-minus"></i>
                                                
                                               
            
